html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #FBDFAE;
    color: #211B11;
}

a {
    text-decoration: none;
    -webkit-transition: background .4s, color .4s;
    -moz-transition: background .4s, color .4s;
    transition: background .4s, color .4s;
    color: #F15A59;
}

    a:hover {
        color: #ED2F2F;
    }

header {
    width: 100%;
    background: #D3E9D0;
    text-align: center;
    padding: 3em 0;
}

.tagline {
    margin: 2em 0;
}

h1 {
    color: #F15A59;
    font-size: 4em;
    font-weight: 800;
    margin-bottom: 1rem;
}

h2 {font-size: 3em;}
h3 {font-size: 1.8em;margin-top: .5em;}


article {
    background: #fff0d6;
    padding: 5px 20px 20px 20px;
}

    article p {
        padding: 10px 0;
        line-height: 1.5;
    }

section {
    margin-bottom: 1em;
}

code, pre {
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal;
}

code {
    font-weight: bold;
}

pre {
    padding: 20px;
    background: #727272;
    color: #F9F9DD;
    font-size: .8em;
}

.sample-images img {
    display: block;
    width: 100%;
}

.button {
    position: relative;
    font-size: 1.3em;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    background: #F15A59;
    border-bottom: 3px solid #D85050;
}

    .button:active {
        border-bottom: 3px solid #fff;
        top: 3px;
    }

    .button:hover {
        background: #ED6D6D;
        color: #fff;
    }

.main-buttons {
    margin-bottom: 2em;
}

.main-buttons a {
    position: relative;
    font-size: 1.3em;
    color: #4C4137;
    display: inline-block;
    padding: 20px 35px;
    background: #FBDFAE;
    border-bottom: 3px solid #F9CC7C;
}

    .main-buttons a:hover {
        background: #fff0d6;
    }

    .main-buttons a:active {
        top: 3px;
        border-bottom: 0;
    }

.main-buttons span {
    display: block;
    padding-left: 28px;
    margin-left: -10px;
    height: 24px;
}

.main-buttons span.github {
    background: url('../images/octocat-icon.png') no-repeat;
}

.main-buttons span.download {
    background: url('../images/download.png') no-repeat;
}

.share-buttons div {
    display: inline-block;
}

.github-button {
    height: 22px;
    margin-bottom: -2px;
}

.content {
    max-width: 960px;
    width: 75%;
    margin: 0 auto;
}


footer {
    margin: 3em 0 1em 0;
    text-align: center;
    font-size: 0.9em;
    color: #968E82;
}





@media screen and (min-width: 48em) {
    h1 {font-size: 7em;}
    .sample-images img {display: inline;width: 32%;}
    pre {font-size: 1em;}
}